/* GLOBAL STYLES
    -------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
    margin: 20px;
    padding: 0;
    background: #252525;
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #fff;
}
.red{
    color: red;
}
.white-popup-block {
    padding: 20px 30px;
    text-align: left;
    max-width: 700px;
    position: relative;
}
table {
    margin-top: 40px;
}
#info {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}
.alert-warning {
    background: #3f3f3f;
    border-color: #000;
}