/* GLOBAL STYLES
    -------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
    margin: 0;
    padding-top: 20px;
    background: #252525;
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #fff;
}
.red{
    color: red;
}
.white-popup-block {
    padding: 20px 30px;
    text-align: left;
    max-width: 700px;
    position: relative;
}
table {
    margin-top: 40px;
}
#info {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}
.alert-warning {
    background: #3f3f3f;
    border-color: #000;
}
.body {
    min-height: 800px;
}
/*===========Footer===========*/
.footer {
    min-height: 100px;
    background: #111111;
    padding: 30px 0;
}
.footer small {
    color: #333333
}
.footer a {
    color: #bdbdbd;
}
.footer .list-inline{
    margin-top: 20px;
}
.footer blockquote {
    padding: 0px;
    border-left: 2px solid #848484;
}